html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

ul {
  padding: 0;
  margin: auto;
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

li {
  padding: 20px;
}

nav a:hover, nav h2:hover {
  color: #efa436;
}

.frontPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.siteTitle {
  display: block;
  position: relative;
  text-align: center;
  width: 70%;
  margin-right: 20px;
  padding-right: 0px;
  margin-top: 100px;
}

.siteTitle::before {
  content: url("../assets/circle-text.png");
  position: absolute;
  left: -40px;
  top: -20px;
}

.titleBox {
  width: 70%;
  position: relative;
  z-index: 5;
}

.headerPhotoBox {
  width: 35%;
  position: absolute;
  z-index: 2;
  right: 0%;
  top: 0%;
}

.headerPhoto {
  -webkit-box-shadow: 20px 20px #FFFFFF;
          box-shadow: 20px 20px #FFFFFF;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

h1, h2, h3 {
  font-family: 'Abril Fatface', cursive;
  font-weight: 400;
  text-transform: uppercase;
}

h1 {
  font-size: 12rem;
  color: white;
}

h2 {
  font-size: 4.2rem;
}

h3 {
  font-size: 3rem;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 2rem;
  letter-spacing: 0px;
  margin: 20px 0;
}

a {
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
}

nav a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: white;
  font-size: 2rem;
}

nav h2 {
  color: white;
}

main a {
  font-size: 2rem;
  font-family: 'Abril Fatface', cursive;
  color: black;
}

.indexHeader {
  background-color: #345231;
  height: 650px;
}

li {
  list-style: none;
}

.wrapper {
  max-width: 1140px;
  width: 80%;
  margin: 0 auto;
}

.whos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.whos h2 {
  margin-bottom: 0;
}

.info {
  background-color: #f6f6f6;
  padding: 5% 0 10%;
}

main h1 {
  margin: 0;
}

.button {
  background: #E4A436;
  padding: 10px 20px;
  display: block;
}

.favAndBucket {
  background-color: #FFFFFF;
}

.favAndBucket h3 {
  margin-bottom: 0;
}

.favThings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 50px;
}

.favThingsBox {
  width: 50%;
  position: relative;
}

.favImage {
  -webkit-box-shadow: 20px 20px #709B6B, -300px 20px #709B6B;
          box-shadow: 20px 20px #709B6B, -300px 20px #709B6B;
  position: absolute;
  bottom: 9%;
  z-index: 3;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.favParagraph {
  width: 40%;
  padding-top: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
}

.bucketList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 100px;
}

.bucketBox {
  width: 50%;
  position: relative;
}

.bucketImage {
  -webkit-box-shadow: 20px 20px #345231, 300px 20px #345231;
          box-shadow: 20px 20px #345231, 300px 20px #345231;
  position: absolute;
  top: 25%;
  z-index: 3;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.bucketParagraph {
  width: 40%;
  padding-top: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
  text-align: right;
  position: relative;
}

.bucketParagraph .button {
  position: absolute;
  right: 0;
  bottom: -40px;
}

.journey {
  background-color: #f6f6f6;
  padding: 10% 0 8%;
}

.journeyBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.journeyImageBox {
  width: 23%;
  margin-right: 12%;
}

.journeyImage {
  -webkit-box-shadow: 20px 20px #709B6B;
          box-shadow: 20px 20px #709B6B;
}

.journeyParagraph {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
}

.journeyParagraph h2 {
  margin: 0;
}

.journeyParagraph .button {
  margin-top: 2%;
}

.midSectionPhoto {
  height: 500px;
  width: 100%;
  padding: 0;
  margin: 0;
}

.gallery {
  padding: 5% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
}

.galleryImage {
  -o-object-fit: cover;
     object-fit: cover;
  width: 30%;
}

.secondNav {
  background-color: #f6f6f6;
  padding: 5% 0 2%;
}

.secondNavBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.navChoice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 50%;
  margin-bottom: 5%;
}

.navIconBox {
  width: 10%;
  height: 100%;
}

.navIcon {
  background-color: #E4A436;
  color: black;
  font-size: 2.0rem;
  padding: 20%;
  border-radius: 50%;
}

.navParagraph {
  width: 90%;
}

.navParagraph h3 {
  margin-top: 0;
  padding-top: 0;
}

footer {
  background-color: black;
  color: #f6f6f6;
}

footer .copyright {
  color: #f6f6f6;
  text-align: center;
  padding: 0.5% 0;
}

.contactNav {
  background-color: #345231;
  height: 70px;
  margin-top: 0px;
  padding: 5%;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contactFull {
  background-color: #f6f6f6;
}

.banner {
  height: 40vh;
  background-image: url("../assets/contact-image-1.jpg");
  background-size: cover;
  position: relative;
}

.banner .contactTitle {
  font-size: 6rem;
  position: absolute;
  bottom: -13px;
  color: #f6f6f6;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.parent {
  margin: 5% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.parent .contactInfo {
  width: 32%;
}

.parent .contactForm {
  width: calc(100% - 32% - 4%);
}

.contactInfo {
  background-color: #FFFFFF;
}

.contactInfo .socialList {
  margin: 10% 10% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.contactInfo .socialList .socialItem {
  margin-right: 10%;
}

.contactInfo .socialList .socialItem .socialLink {
  font-size: 2.5rem;
  color: #345231;
}

.contactInfo .contactList {
  margin: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.contactInfo .contactList .contactItem {
  margin-bottom: 1%;
}

.contactInfo .contactList .boldEmail a {
  font-weight: bold;
}

.contactInfo .contactList li {
  margin: 0;
  padding: 5px;
}

.contactList a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 2rem;
  letter-spacing: 0px;
  text-transform: none;
}

.submissionForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.submissionForm .nameInput {
  font-weight: 400;
  border: none;
  width: 48%;
  margin-right: 2%;
  padding: 3%;
}

.submissionForm .emailInput {
  border: none;
  width: 50%;
  padding: 3%;
}

.submissionForm .textInput {
  resize: none;
  border: none;
  margin: 2% auto;
  width: 100%;
  padding: 5% 2% 0%;
}

textarea, input {
  font-size: 2rem;
}

button {
  font-family: 'Abril Fatface', cursive;
  font-weight: 400;
  color: black;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}
